#logo{
    width: max(100px , 18vw);
    background-color: #0a0a23;
    aspect-ratio: 35/4;
    padding: 0.4rem;
}
header{
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}
h1{
    color: #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
}
nav > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    flex-wrap: wrap;
}
h1 , h2 {
    font-family: "Verdana" , sans-serif;
}
h2{
    border-bottom: 4px solid #dfdfe2;
    margin-top: 0;
    padding-top: 60px;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
p::before{
    content: "Question #";
}
nav li{
        display: flex;
        justify-content: space-evenly;
        color: #dfdfe2;
        margin: 0 0.2rem;
        padding: 0.2rem;
        display: block;
}

li > a{
    color: #dfdfe2;
    text-decoration: none;
    cursor: pointer;  
}
nav li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;  
}
main{
    padding-top:25px;
}
section{
    width: 80%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    max-width: 600px;
}
.info{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0;
    padding-right: 0;
}
.formrow{
    margin-top: 1px; 
    padding-top: 0px;
    padding-right: 1px;
    padding-bottom: 0;
    padding-left: 1px;
}
input{
  font-size: 13px;
}

.info > input {
    width: 50%;
    text-align: left;
}

.info > label{
    width: 10%;
    min-width: 55px;
}
 label{
    text-align: right;
 }
 .info > label, .info > input{
    display: inline-block;
 }

 .question-block{
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
 }
 p{
    margin-top: 5px;
    padding-left: 15px;
    font-size: 20px;
 }
.question{
    border: none;
    padding-bottom: 0;
}
.answers-list{
    list-style: none;
    padding: 0;
}
button{
    display: block;
    margin: 40px auto;
    width: 40%;
    padding: 15px;
    font-size: 23px;
    background: #d0d0d5;
    border: 3px solid #3b3b4f;

}
footer{
    background-color: #2a2a40;
    display: flex;
    justify-content: center;
}

footer , footer  a {
    color: antiquewhite;
}
address{
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  